<h1>Listado de exhibidores</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Canal</th>
      <th>Ubicación</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @exhibidores.each do |exhibidor| %>
    <tr>
      <td><%= exhibidor.id %></td>
      <td><%= exhibidor.channel %></td>
      <td><%= exhibidor.ubicacion %></td>
      <td>
        <%= link_to 'Ver', exhibidor %>
        <%= link_to 'Editar', edit_exhibidor_path(exhibidor) %>
        <%= link_to 'Eliminar', exhibidor, :confirm => 'Está seguro?', :method => :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Exhibidor', new_exhibidor_path %>

